body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

header {
  background-color: #222;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  padding: 20px 10px;
  margin-bottom: 3rem;
}

a {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  display: flex;
}

nav ul {
  gap: 2rem;
}

nav a:hover {
  text-decoration: 2px underline dashed #8aff96;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

#resume {
  background-color: red;
  color: #676767f2;
  padding: 2px 10px;
  border-radius: 20px;
  background: #c2c2c2d0;
  border: 0.809764px solid #a4a4a4;
  font-weight: 400;
  font-size: 1rem;
}

#resume::before {
  content: url("../img/box-arrow-up-right.svg");
  margin-right: 5px;
}

.titulo {
  font-size: 4rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #222;
  margin-top: 1rem;
}

h2 {
  color: rgba(0, 0, 0, 0.56);
  font-weight: 400;
  margin-bottom: 2rem;
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 0.875rem;
  color: #000;
}

.about-info h4 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #222;
  font-weight: 700;
}

.p-about {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  line-height: 1.5;
  margin: 2rem 0;
  font-size: 1.3rem;
}

h3,
.skill-title {
  font-size: 1.3rem;
  margin-bottom: 0.875rem;
}

.skill-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 2rem;
  max-width: max-content;
}

.box {
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 0.4rem 3rem 0.4rem 1rem;
  border-radius: 0.875rem;
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.box p {
  font-size: 0.875rem;
}

section {
  background: #222;
}

#projects {
  padding: 40px 20px;
}

.project {
  max-width: 900px;
  margin: 0 auto;
}

.project h1 {
  color: #8aff96;
  padding: 3rem 0 2rem 0;
}

.project p {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
}

.git-link {
  text-align: center;
}

.git-link a {
  font-size: 1rem;
}

.titulo-section {
  font-family: "Space Mono", monospace;
  font-size: 2.5rem;
}

.contact {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.3rem;
}

.contact h1 {
  color: #ff8ef4;
  margin: 2rem 0;
}

.contact a {
  color: #000;
  font-weight: 700;
}

u {
  text-decoration: underline dashed #ff8ef4;
}

u:hover {
  text-decoration-color: #8aff96;
}

.contact p {
  margin: 10px 0;
}

.copyright {
  text-align: center;
  padding: 50px 0 20px 0;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3em;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.fa-twitter {
  color: #1da1f2;
}

.fa-linkedin {
  color: #0a66c2;
}

.btn-skills {
  background: #d0d0d0;
  border: 0.8px solid rgba(149, 149, 149, 0.4);
  border-radius: 16.1953px;
  padding: 4px 10px;
  margin-bottom: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(153, 152, 152, 0.56);
  margin-right: 10px;
  cursor: pointer;
}

.btn-skills.dev.active {
  background: #b7f0b5;
  border: 0.809764px solid #37a74275;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  color: #37a74275;
}

.btn-skills.design.active {
  background: #efc3eb;
  border: 0.809764px solid #ff8ef4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  color: #fc83f0;
}

.d-none {
  display: none;
}

#contact {
  font-family: "Space Mono", monospace;

  padding: 40px 20px;
}

.repositories {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-right: 20px;
}

.repo {
  background-color: rgba(0, 0, 0, 0.322);
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 20px;
  border-radius: 10px;
}

.repo-li h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.3em;
  color: #fff;
}

.repo-li p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.tags li {
  border-radius: 1rem;
  padding: 1px 10px;
  font-size: 0.7rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  cursor: pointer;
}

.tags li:first-child {
  background: #b7f0b5;
  border: 0.809764px solid #37a74275;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  margin-right: 0.875rem;
}

.tags li:last-child {
  background: #efc3eb;
  border: 0.809764px solid #ff8ef4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.tags li a {
  color: rgba(0, 0, 0, 0.329);
}

@media (max-width: 600px) {
  .skill-content {
    grid-template-columns: 1fr;
  }
  .skill-title {
    text-align: center;
  }
  .skills {
    place-items: center;
    display: flex;
    flex-direction: column;
  }
  .about-info {
    gap: 20px;
  }
  #email {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .titulo {
    font-size: 3rem;
  }
  .project p,
  .p-about,
  .contact p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .titulo-section {
    font-size: 2rem;
  }
  .repositories {
    grid-template-columns: 1fr;
  }
  #contact {
    margin: 20px 20px;
  }
}

@media (max-width: 430px) {
  .titulo {
    font-size: 2.5rem;
  }
  nav {
    flex-direction: column;
    place-content: center;
  }

  nav ul {
    margin-top: 10px;
  }
}
